* {
    box-sizing: border-box;
}

.wrapper {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 1px #000;
    padding: 20px 10px;
    font-family: sans-serif;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 12px;
}

#calculate {
    padding: 5px 10px;
    cursor: pointer;
}
